name: Azure ML CI Pipeline

on:
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-22.04
    timeout-minutes: 30


    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Install Azure ML CLI
      run: |
        az extension add -n ml

    - name: Submit Azure ML Job
      run: |
        az ml job create \
          --file azure/job.yml \
          --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} \
          --workspace-name ${{ secrets.AZURE_ML_WORKSPACE }}
